<template>
  <div class="hello">
    <h1>{{ title }}</h1>
    <label>Item name</label><br />
    <input v-model="product.name" type="text" /><br /><br />
    <label>Item Price</label><br />
    <input v-model="product.price" type="text" /><br /><br />
    <label>Quantity</label><br />
    <input v-model="product.quantity" type="text" /><br /><br />
    <input type="submit" value="Add to Cart" @click="addProductsToCart" />
    <div class="container" v-if="productsArray.length > 0">
      <h3 class="p-3 text-center">My Cart</h3>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total Price</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(product, index) in productsArray" :key="index">
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ getTotalPrice(product.quantity, product.price) }}</td>
            <td>
              <input
                type="submit"
                value="Delete"
                @click="deleteProduct(product, index)"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="container mt-5 text-center">
      <GChart type="PieChart" :options="options" :data="data" />
    </div>
  </div>
</template>

<script>
import { GChart } from "vue-google-charts/legacy";
export default {
  name: "HelloWorld",
  components: {
    GChart
  },
  data() {
    return {
      title: "Add Products",
      product: {},
      productsArray: [],
      options: {
        width: 1100,
        height: 400
      },
      data: [
        ["Wallet", "Amount"],
        ["Cart", 0],
        ["Balance", 1000 - 0]
      ],
      cartTotal: 0
    };
  },
  watch: {
    cartTotal(newVal, oldVal) {
      if (newVal > 0)
        this.data = [
          ["Wallet", "Amount"],
          ["Cart", this.cartTotal],
          ["Balance", 1000 - this.cartTotal]
        ];
    }
  },
  methods: {
    addProductsToCart() {
      this.productsArray.push(this.product);
      this.cartTotal += this.getTotalPrice(
        this.product.quantity,
        this.product.price
      );
      this.product = {};
    },

    getTotalPrice(quantity, price) {
      return quantity * price;
    },
    deleteProduct(product, index) {
      this.cartTotal -= this.getTotalPrice(product.quantity, product.price);
      this.productsArray.splice(index, 1);
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
